---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.description }}</p>
    {% if page.author %}
    <p class="post-meta">By {{ page.author }}</p>
    {% endif %}
  </header>

  <div class="row mt-3">
    <div class="col-sm-4 mt-3 mt-md-0">
      {% if page.img %}
      <img class="img-fluid rounded" src="{{ page.img | relative_url }}" alt="{{ page.title }} cover">
      {% if page.amazon_link %}
      <p class="text-center mt-3">
        <a href="{{ page.amazon_link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">
          View on Amazon
        </a>
      </p>
      {% endif %}
      {% endif %}
    </div>
    <div class="col-sm-8 mt-3 mt-md-0">
      {{ content }}
    </div>
  </div>

</div>